 /*заняли полную высоту для html */
html {
    height: 100%;
} 


/* заняли полную высоту для body, унаследовав ее от html */
body {
    background-color: #f2f2f2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.todo-app {
    width: 56%;
    height: 44%;
    max-width: 560px;
    min-width: 300px;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.todo-app__header {
    width: auto;
    font-size: 20px;
    text-transform: lowercase;
    text-align: center;
    margin: 0;
}

.header-title {
    margin: 0;
}

.todo-app__frame {
    background-color: #fff;
    height: 90%;
    display: flex;
    flex-direction: column;
    border: 2px  #f2f2f2 solid ;
}

.todo-app__main-controls {
    flex-grow: 2;
    display: flex;
    border-bottom: 2px  #f2f2f2 solid ;
    flex-direction: row;
}

.todo-app__tasks {
    flex-grow: 10;
    height: 100%;
}

.todo-app__lower-actions-bar {
    flex-grow: 1;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.show_hide_tasks, .text_new_task {
    margin: 0;
    border: 0;
    background-color: #fff;
}

.text_new_task {
    width: 100%;
}

.todo-app__tasks-list {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 264px;
    overflow: scroll;
}

li {
    min-height: 64px;
    border-bottom: 2px  #f2f2f2 solid ;
}

.task-item__view {
    min-height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-item__status {
    flex-grow: 1;
}

.task-item__text {
    flex-grow: 10;
    min-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-item__delete {
    flex-grow: 1;
}

.todo-app__clear-button {
    margin: 0;
    border: 0;
    padding: 0;
    padding-right: 2px;
    background-color: #fff;
    color: #888;
}

.text_amount_left_tasks {
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 2px;
    color: #888;
}

.todo-app__filters-bar {
    margin: 0;
    border: 0;
    color: #888;
    display: flex;
}